# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsidx

# Visual Studio Code
.vscode/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user
**/*.csproj.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Visual Studio cache/index files
*.vc.db
*.vc.db-shm
*.vc.db-wal
*.vc.vcstyle
*.vc.vcxproj.filters
.vs/Alligator.vslc.suo
.vs/Alligator.vslc.v17.suo
*-TestResult.json
*.tlog

# JetBrains Rider
.idea/
*.sln.iml

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Azure Functions
.local/
